<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Relatório deste mês</title>
        <style>
            body {
                font-family: Tahoma;
                font-size: 16px;
            }
            h1 {
                font-size: 28px;
                font-weight: bold;
            }
            a {
                color: black;
                text-decoration: none;
            }
            a:hover {
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
        <h1> {{titulo}} </h1>
        <p>{{ texto_meio | safe }}</p>
        <center>
            <a href="{{ url_passado }}"><strong>{{ opcao }}</strong></a><br>
            <a href="{{ url_menu }}"><strong>Volte ao menu</strong></a><br>
        </center>
    </body>
</html>

