<!DOCTYPE html>
<html>
<head>
	<title>Formulário</title>
</head>
<body>
	<form method="POST" action="/resultado">
		<label>Ano do relatório (ex: 2023):</label>
		<input type="text" name="ano"><br>
		<label>Mês do relatório (ex: 02):</label>
		<input type="text" name="mes"><br>
		<label>Safra (ex: 2022/23):</label>
		<input type="text" name="safra"><br>
		<label>Produto (ex: Soja ou Milho):</label>
		<input type="text" name="produto"><br>
		<button type="submit">Gerar Texto</button>
	</form>
</body>
</html>
