<!DOCTYPE html>
<html>
  <button style="font-family: Verdana; font-size: 16px; color: white; background-color: black; padding: 10px; border: none; border-radius: 5px; margin-bottom: 5px;">
    <a href="/milho-atual" style="text-decoration: none; color: inherit;">Milho</a>
  </button>
  <br>
  <button style="font-family: Verdana; font-size: 16px; color: white; background-color: black; padding: 10px; border: none; border-radius: 5px; margin-bottom: 5px;">
    <a href="/milho-anterior" style="text-decoration: none; color: inherit;">Milho Antigo</a>
  </button>
  <br>
  <button style="font-family: Verdana; font-size: 16px; color: white; background-color: black; padding: 10px; border: none; border-radius: 5px; margin-bottom: 5px;">
    <a href="/soja-atual" style="text-decoration: none; color: inherit;">Soja</a>
  </button>
  <br>
  <button style="font-family: Verdana; font-size: 16px; color: white; background-color: black; padding: 10px; border: none; border-radius: 5px; margin-bottom: 5px;">
    <a href="/soja-anterior" style="text-decoration: none; color: inherit;">Soja Antigo</a>
  </button>
  <br>
  <button style="font-family: Verdana; font-size: 16px; color: white; background-color: black; padding: 10px; border: none; border-radius: 5px; margin-bottom: 5px;">
    <a href="/trigo-atual" style="text-decoration: none; color: inherit;">Trigo</a>
  </button>
  <br>
  <button style="font-family: Verdana; font-size: 16px; color: white; background-color: black; padding: 10px; border: none; border-radius: 5px; margin-bottom: 5px;">
    <a href="/trigo-anterior" style="text-decoration: none; color: inherit;">Trigo Antigo</a>
  </button>
  <br>
  <button style="font-family: Verdana; font-size: 16px; color: white; background-color: black; padding: 10px; border: none; border-radius: 5px; margin-bottom: 5px;">
    <a href="/algodao-atual" style="text-decoration: none; color: inherit;">Algodão</a>
  </button>
  <br>
  <button style="font-family: Verdana; font-size: 16px; color: white; background-color: black; padding: 10px; border: none; border-radius: 5px; margin-bottom: 5px;">
    <a href="/algodao-anterior" style="text-decoration: none; color: inherit;">Algodão Antigo</a>
  </button>
  <br>
  <button style="font-family: Verdana; font-size: 16px; color: white; background-color: black; padding: 10px; border: none; border-radius: 5px;">
    <a href="/consulta" style="text-decoration: none; color: inherit;">Consulta Relatórios</a>
  </button>
